# Exploring how to connect to a local PostgreSQL database

Methods used:

1. Using psycopg2 to communicate with the database
2. Using SQL alchemy and psycopg2 to allow for object oriented mapping to database
3. Using Pandas to call SQLalchemy, abstracting away the complexity and moving straight into working on dataframes

Method 3 would mainly be for analysis purposes and not for updated the database with new values.
Method 2 would be utilised when writing scripts that would be regularly updating a database, to avoid having to write raw SQL text.

In [17]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import os

# Loading environment variables from .env file
load_dotenv()

True

## Psycopg2

In [12]:
conn = psycopg2.connect(database="dannys_diner", user="neyas", password=os.environ['postgresql_password'])
cur = conn.cursor()

cur.execute("SELECT * FROM dannys_diner.members")
records = cur.fetchall()

## SqlAlchemy and Pyscopg2

In [14]:
engine = create_engine(f'postgresql+psycopg2://neyas:{os.environ["postgresql_password"]}@localhost/dannys_diner')

with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM dannys_diner.members"))
    for row in result:
        print("customer_id", row[0], end=" ")
        print("date joined:", row[1])

customer_id A date joined: 2021-01-07
customer_id B date joined: 2021-01-09

## Pandas.read_sql_table method

In [16]:
pd.read_sql_table('sales', f'postgresql+psycopg2://neyas:{os.environ["postgresql_password"]}@localhost/dannys_diner', schema='dannys_diner')

   customer_id order_date  product_id
0            A 2021-01-01           1
1            A 2021-01-01           2
2            A 2021-01-07           2
3            A 2021-01-10           3
4            A 2021-01-11           3
5            A 2021-01-11           3
6            B 2021-01-01           2
7            B 2021-01-02           2
8            B 2021-01-04           1
9            B 2021-01-11           1
10           B 2021-01-16           3
11           B 2021-02-01           3
12           C 2021-01-01           3
13           C 2021-01-01           3
14           C 2021-01-07           3