## Questions:

    What is the total amount each customer spent at the restaurant?
    How many days has each customer visited the restaurant?
    What was the first item from the menu purchased by each customer?
    What is the most purchased item on the menu and how many times was it purchased by all customers?
    Which item was the most popular for each customer?
    Which item was purchased first by the customer after they became a member?
    Which item was purchased just before the customer became a member?
    What is the total items and amount spent for each member before they became a member?
    If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?
    In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January?

In [124]:
%load_ext sql
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

# Loading environment variables from .env file
load_dotenv()
# Starting sqlalchemy engine
engine = create_engine(f'postgresql+psycopg2://neyas:{os.environ["postgresql_password"]}@localhost/dannys_diner')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [125]:
%sql engine

#### What is the total amount each customer spent at the restaurant?

In [126]:
%%sql
SELECT customer_id, SUM(price) as price
FROM dannys_diner.sales as s
LEFT JOIN dannys_diner.menu as m
ON s.product_id = m.product_id
GROUP BY customer_id
ORDER BY customer_id;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

3 rows affected.

+-------------+-------+
| customer_id | price |
+-------------+-------+
|      A      |   76  |
|      B      |   74  |
|      C      |   36  |
+-------------+-------+

#### How many days has each customer visited the restaurant?

In [127]:
%%sql
SELECT customer_id, COUNT(DISTINCT order_date)
FROM dannys_diner.sales
GROUP BY customer_id;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

3 rows affected.

+-------------+-------+
| customer_id | count |
+-------------+-------+
|      A      |   4   |
|      B      |   6   |
|      C      |   2   |
+-------------+-------+

#### What was the first item from the menu purchased by each customer?

In [128]:
%%sql
WITH sales_ranked AS (SELECT
    customer_id,
    order_date,
    DENSE_RANK() OVER(PARTITION BY customer_id ORDER BY order_date ASC) as rank,
    product_id
FROM dannys_diner.sales)

SELECT
    DISTINCT customer_id,
    product_id
FROM sales_ranked
WHERE rank = 1;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

4 rows affected.

+-------------+------------+
| customer_id | product_id |
+-------------+------------+
|      A      |     1      |
|      A      |     2      |
|      B      |     2      |
|      C      |     3      |
+-------------+------------+

In [129]:
%%sql
  SELECT 
    sales.customer_id, 
    sales.order_date, 
    menu.product_name,
    DENSE_RANK() OVER (
      PARTITION BY sales.customer_id 
      ORDER BY sales.order_date) AS rank
  FROM dannys_diner.sales
  INNER JOIN dannys_diner.menu
    ON sales.product_id = menu.product_id

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

15 rows affected.

+-------------+------------+--------------+------+
| customer_id | order_date | product_name | rank |
+-------------+------------+--------------+------+
|      A      | 2021-01-01 |    curry     |  1   |
|      A      | 2021-01-01 |    sushi     |  1   |
|      A      | 2021-01-07 |    curry     |  2   |
|      A      | 2021-01-10 |    ramen     |  3   |
|      A      | 2021-01-11 |    ramen     |  4   |
|      A      | 2021-01-11 |    ramen     |  4   |
|      B      | 2021-01-01 |    curry     |  1   |
|      B      | 2021-01-02 |    curry     |  2   |
|      B      | 2021-01-04 |    sushi     |  3   |
|      B      | 2021-01-11 |    sushi     |  4   |
+-------------+------------+--------------+------+
Truncated to displaylimit of 10.

#### What is the most purchased item on the menu and how many times was it purchased by all customers?

In [130]:
%%sql
SELECT
    m.product_name,
    COUNT(s.product_id) as orders
FROM dannys_diner.sales as s
LEFT JOIN dannys_diner.menu as m
ON s.product_id = m.product_id
GROUP BY m.product_name
ORDER BY orders DESC
LIMIT 1;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

1 rows affected.

+--------------+--------+
| product_name | orders |
+--------------+--------+
|    ramen     |   8    |
+--------------+--------+

#### Which item was the most popular for each customer?

In [131]:
%%sql
WITH ranked_sales AS (SELECT 
    customer_id,
    product_id,
    COUNT(product_id) as orders,
    DENSE_RANK() OVER(PARTITION BY customer_id ORDER BY COUNT(customer_id) DESC) as rank
FROM dannys_diner.sales
GROUP BY customer_id, product_id
ORDER BY customer_id, rank)

SELECT
    r.customer_id,
    product_name,
    orders
FROM ranked_sales as r
LEFT JOIN dannys_diner.menu as m
ON r.product_id = m.product_id
WHERE rank = 1
ORDER BY customer_id;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

5 rows affected.

+-------------+--------------+--------+
| customer_id | product_name | orders |
+-------------+--------------+--------+
|      A      |    ramen     |   3    |
|      B      |    sushi     |   2    |
|      B      |    curry     |   2    |
|      B      |    ramen     |   2    |
|      C      |    ramen     |   3    |
+-------------+--------------+--------+

#### Which item was purchased first by the customer after they became a member?

In [182]:
%%sql
WITH first_order AS (SELECT
    DISTINCT ON (s.customer_id) s.customer_id,
    s.product_id,
    MIN(order_date) as order_date
FROM dannys_diner.sales as s
RIGHT JOIN dannys_diner.members as m
ON s.customer_id = m.customer_id
WHERE order_date >= join_date
GROUP BY s.customer_id, s.product_id
ORDER BY customer_id, order_date ASC)

SELECT
    customer_id,
    product_name
FROM first_order as f
LEFT JOIN dannys_diner.menu as menu
ON f.product_id = menu.product_id
ORDER BY customer_id;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

2 rows affected.

+-------------+--------------+
| customer_id | product_name |
+-------------+--------------+
|      A      |    curry     |
|      B      |    sushi     |
+-------------+--------------+