In [9]:
%load_ext sql
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

# Loading environment variables from .env file
load_dotenv()
# Starting sqlalchemy engine
engine = create_engine(f'postgresql+psycopg2://neyas:{os.environ["postgresql_password"]}@localhost/dannys_diner')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql engine

In [11]:
%sql SELECT * FROM dannys_diner.sales;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

15 rows affected.

+-------------+------------+------------+
| customer_id | order_date | product_id |
+-------------+------------+------------+
|      A      | 2021-01-01 |     1      |
|      A      | 2021-01-01 |     2      |
|      A      | 2021-01-07 |     2      |
|      A      | 2021-01-10 |     3      |
|      A      | 2021-01-11 |     3      |
|      A      | 2021-01-11 |     3      |
|      B      | 2021-01-01 |     2      |
|      B      | 2021-01-02 |     2      |
|      B      | 2021-01-04 |     1      |
|      B      | 2021-01-11 |     1      |
+-------------+------------+------------+
Truncated to displaylimit of 10.