## Questions:

    What is the total amount each customer spent at the restaurant?
    How many days has each customer visited the restaurant?
    What was the first item from the menu purchased by each customer?
    What is the most purchased item on the menu and how many times was it purchased by all customers?
    Which item was the most popular for each customer?
    Which item was purchased first by the customer after they became a member?
    Which item was purchased just before the customer became a member?
    What is the total items and amount spent for each member before they became a member?
    If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?
    In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January?

In [9]:
%load_ext sql
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

# Loading environment variables from .env file
load_dotenv()
# Starting sqlalchemy engine
engine = create_engine(f'postgresql+psycopg2://neyas:{os.environ["postgresql_password"]}@localhost/dannys_diner')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql engine

#### What is the total amount each customer spent at the restaurant?

In [18]:
%%sql
SELECT customer_id, SUM(m.product_id * price)
FROM dannys_diner.sales as s
LEFT JOIN dannys_diner.menu as m
ON s.product_id = m.product_id
GROUP BY customer_id
ORDER BY customer_id;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

3 rows affected.

+-------------+-----+
| customer_id | sum |
+-------------+-----+
|      A      | 178 |
|      B      | 152 |
|      C      | 108 |
+-------------+-----+

#### How many days has each customer visited the restaurant?

In [21]:
%%sql
SELECT customer_id, COUNT(DISTINCT order_date)
FROM dannys_diner.sales
GROUP BY customer_id;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

3 rows affected.

+-------------+-------+
| customer_id | count |
+-------------+-------+
|      A      |   4   |
|      B      |   6   |
|      C      |   2   |
+-------------+-------+

#### What was the first item from the menu purchased by each customer?

In [30]:
%%sql
SELECT s.customer_id, order_date
FROM (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY order_date DESC) AS sn
    FROM dannys_diner.sales ) s 
WHERE sn = 1;

Running query in 'postgresql+psycopg2://neyas:***@localhost/dannys_diner'

3 rows affected.

+-------------+------------+
| customer_id | order_date |
+-------------+------------+
|      A      | 2021-01-11 |
|      B      | 2021-02-01 |
|      C      | 2021-01-07 |
+-------------+------------+